@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body, #root, .app, .content {
	height: 100%;
	width: 100%;
	font-family: 'Source Sans pro', sans-serif;
}

.app {
	display: flex;
	position: relative;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle hover */
::-webkit-scrollbar-track:hover {
	background: #555;
}

.input {
	height: 5vh;
}

.button {
	height: 5vh;
}

.news-image {
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
	cursor: pointer;
	filter: brightness(100%);
	transition: filter 1s ease;
}

.news-image:hover {
	filter: brightness(50%);
}

.wallpapers-icons {
	cursor: pointer;
	font-size: 1.8vh;
	margin-top: 0.2vh;
	margin-bottom: 0.3vh;
}