@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Montserrat&display=swap');

html, body, #root, .app, .content {
	height: 100%;
	width: 100%;
	font-family: "Montserrat", sans-serif;
}

.app {
	display: flex;
	position: relative;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle hover */
::-webkit-scrollbar-track:hover {
	background: #555;
}

/*.input {*/
/*	height: 5vh;*/
/*}*/

.button {
	height: 3.3rem;
	boxShadow: "0px 0px 10px #5ddcff",
}

.news-image {
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
	cursor: pointer;
	filter: brightness(100%);
	transition: filter 1s ease;
}

.news-image:hover {
	filter: brightness(50%);
}

.wallpapers-icons {
	cursor: pointer;
	font-size: 1.8vh;
	margin-top: 0.2vh;
	margin-bottom: 0.3vh;
}

/* Player stats card */
@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

.card-grid {
	height: 58vh;
	overflow: hidden;
	overflow-y: auto;
}

:root {
	--card-height: 13vh;
	--card-width: 11vh;
}

.profile-grid-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.player-stat-card-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 10px;
	background: #171a21;
	text-align: center;
	margin: 2vh
}

.player-stat-card-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 10px;
	background: #171a21;
	text-align: center;
	margin: 2vh;
}

.player-stat-card-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--card-width);
	height: var(--card-height);
	position: relative;
	border-radius: 10px;
	background: #171a21;
	text-align: center;
	margin: 2vh
}

.player-stat-card-left::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 10px;
	background-image: linear-gradient(var(--rotate), #ffb947, #ff3939 43%, #ff0000);
	position: absolute;
	z-index: -1;
	animation: spin 2.5s linear infinite;
}

.player-stat-card-left::after {
	content: "";
	position: absolute;
	z-index: -1;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(var(--rotate), #ffa204, #ff2d12 43%, #ae0000);
	opacity: 1;
	transition: opacity .5s;
	animation: spin 2.5s linear infinite;
}

.player-stat-card-right::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 10px;
	background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
	position: absolute;
	z-index: -1;
	animation: spin 2.5s linear infinite;
}

.player-stat-card-right::after {
	content: "";
	position: absolute;
	z-index: -1;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
	opacity: 1;
	transition: opacity .5s;
	animation: spin 2.5s linear infinite;
}

.player-stat-card-bottom::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 10px;
	background-image: linear-gradient(var(--rotate), #ffd859, #ffffff 43%, #ffb300);
	position: absolute;
	z-index: -1;
	animation: spin 2.5s linear infinite;
}

.player-stat-card-bottom::after {
	content: "";
	position: absolute;
	z-index: -1;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(var(--rotate), #ffc400, #ffffff 43%, #ffc400);
	opacity: 1;
	transition: opacity .5s;
	animation: spin 2.5s linear infinite;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

@keyframes neon-glow {
	0% {
		text-shadow: 0 0 10px #fff,
		0 0 20px #fff,
		0 0 30px #fff,
		0 0 40px #00ff00,
		0 0 70px #00ff00,
		0 0 80px #00ff00,
		0 0 100px #00ff00,
		0 0 150px #00ff00;
	}

	100% {
		text-shadow: 0 0 5px #fff,
		0 0 10px #fff,
		0 0 15px #fff,
		0 0 20px #00ff00,
		0 0 35px #00ff00,
		0 0 40px #00ff00,
		0 0 50px #00ff00,
		0 0 75px #00ff00;
	}
}
